.main_chat__message--list__data
  .main_chat__message--list__data__list
    .main_chat__message--list__data__list__name
      = message.user.name
    .main_chat__message--list__data__list__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat__message--list__data__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?